body {
    background-color: #a74848a2;
  }
  

.first{
    color: bisque;
    margin: 10px;
    background-color: black;   
}
 
.second{
    color: bisque;
    margin: 15px;
    background-color: black;
}

.third{
    color: bisque;
    margin: 15px;
    background-color: black;

}

